<div class="mx-auto hermes">
  <h4>{{hospitalName}}</h4>
  <p>
    Injury/Ailment: {{ailment}}
  </p>
  <p>
    Available Times:
    <select class="custom-select" id="insuranceSelect">
      <option class="form-control" *ngFor="let time of times" [ngValue]="time">
        {{time}}
      </option>
    </select>
  </p>
  
  <input *ngIf="userService.user" type="submit" id="submitSuccess" class="btn-primary btn mx-auto d-block mt-2" value="Submit">
  <input *ngIf="!userService.user" type="submit" class="btn-outline-secondary btn mx-auto d-block mt-2" value="Submit" disabled>
</div>
