@import '~bootstrap/dist/css/bootstrap.min.css';

.sorting_asc::after {
    content: "" !important;
}

.sorting_desc::after {
    content:"" !important;
}

.sorting::after {
    content:"" !important;
}

label {
    color: transparent;
}

.hospital-icon {
    align: middle;
    max-width: 100px;
}