<div style="width: 450px; height: 500px; background-color: rgba(22, 10, 1, 0.75)" class="p-5 pt-3 pb-3 mt-5 mx-auto text-white rounded">

  <form class="mt-5 standalone" id="searchForm" action="results">

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text"> Injury/Ailment</label>
      </div>
      <select [(ngModel)]="injury" class="custom-select pr-5" name="injury" id="ailment">
        <option *ngFor="let i of injuries" [ngValue]="i">{{i}}</option>
      </select>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text"> Maximum Cost</label>
      </div>
      <input [(ngModel)]="maxCost" placeholder="(optional)" class="form-control" name="maxCost" id="maxCostInput">
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text">
          <input type="radio" (change)="searchModeChange('zip')" name="searchMode" value="zip" id="zipcodeRadio" checked>&nbsp;Zipcode</label>
      </div>
      <input [(ngModel)]="zipcode" [attr.placeholder]="searchMode=='zip'?'Zipcode':null" [attr.disabled]="searchMode=='zip'?null:''"
        class="form-control " name="zipcode
        " id="zipcodeInput ">
    </div>

    <div class="input-group">
      <div class="input-group-prepend ">
        <label class="input-group-text ">
          <input type="radio" (change)="searchModeChange('address')" name="searchMode" value="address " id="addressRadio ">&nbsp;
          <span *ngIf="!geolocationString">Address</span>
          <span *ngIf="geolocationString">Location</span>
        </label>
      </div>
      <input *ngIf="!geolocationString" [(ngModel)]="address" [attr.placeholder]="searchMode=='address'?'Address':null" [attr.disabled]="searchMode=='address'?null:''"
        class="form-control " name="address" id="addressInput ">
      <input *ngIf="geolocationString" [(ngModel)]="geolocationString" readonly [attr.placeholder]="searchMode=='address'?'Address':null"
        [attr.disabled]="searchMode=='address'?null:''" class="form-control " name="address" id="addressInput ">
    </div>
    <div class="input-group mb-1" *ngIf="searchMode=='address'">
      <div class="input-group-prepend">
        <label class="input-group-text">Max distance: {{maxDistance > 15 ?'none': maxDistance + ' mi' }}</label>
      </div>
      <span class="input-group-text w-50 bg-white">
        <input type="range" [(ngModel)]="maxDistance" name="maxD" id="radiusSlider" min="1" max="16" value="8" class="w-100">
      </span>
    </div>

    <div *ngIf="submitError" class="text-danger">
      Please enter a location.
    </div>
    <br>

    <input type="submit" class="btn-primary btn mx-auto d-block submit " value="Submit ">

  </form>
</div>