<div style="width: 450px" class="p-5 mx-auto hermes">

  <form class="mt-5 standalone" id="searchForm" action="results">

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <label class="input-group-text"> Injury/Ailement</label>
      </div>
      <select [(ngModel)]="injury" class="custom-select pr-5" name="injury" id="ailment">
        <option *ngFor="let i of injuries" [ngValue]="i">{{i}}</option>
      </select>
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <label class="input-group-text"> Maximum Cost</label>
      </div>
      <input [(ngModel)]="maxCost" placeholder="(optional)" class="form-control" name="maxCost" id="maxCostInput">
    </div>

  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <label class="input-group-text">
          <input type="radio" name="distance" id="zipcodeRadio"> Zipcode</label>
    </div>
    <input placeholder="(optional)" class="form-control" name="zipcode" id="zipcodeInput">
  </div>

  <div class="input-group mb-1">
      <div class="input-group-prepend">
        <label class="input-group-text">
            <input type="radio" name="distance" id="addressRadio"> Address</label>
      </div>
      <input placeholder="(optional)" class="form-control" name="address" id="addressInput">
    </div>
    <div>
        <input type="range" id="radiusSlider"  min="1" max="15" value="8">
    </div>
    <br>
    <input type="submit" class="btn-primary btn mx-auto d-block" value="Submit">

  </form>
</div>