@import '~bootstrap/dist/css/bootstrap.min.css';

.hermes {
    height: 356px;
    background: url('/assets/hermes.png');
    background-repeat: no-repeat;
    background-position: center;
}

label {
    width: 175px;
}

#radiusSlider {
    width: 50%;
    float: right;
}