@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}

* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}