@import '~bootstrap/dist/css/bootstrap.min.css';

.newhome {
    /*padding-top: 37px;
    padding-right:3px;
    height: 356px;*/
    background-image: url('/assets/newhome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 
}
