<div style="width: 450px" class="mx-auto hermes">

  <form class="standalone" id="loginForm" action="search">
    <div style="height: 5rem;"></div>

    <label class="mt-2">
      Username
      <span *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="text-danger d-inline-block float-right">
        Please enter a username
      </span>
    </label>
    <input [(ngModel)]="username" [class.is-invalid]="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
      #usernameInput="ngModel" name="username" required placeholder="Username" class="form-control">

    <label class="mt-2">
      Password
      <span *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger d-inline-block float-right">
        Please enter a password.
      </span>
    </label>
    <input [(ngModel)]="password" type="password" placeholder="Password" class="form-control" #passwordInput="ngModel" [class.is-invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
      name="password" required>

    <div class="text-danger mt-2" style="height: 5rem;">&nbsp;
      <span *ngIf="invalidCredentials">Invalid username/password</span>
    </div>

    <input type="submit" class="btn-primary btn mx-auto d-block mt-2" value="Login">

  </form>
</div>