label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0;
}

.hermes {
    height: 356px;
    background: url('/assets/hermes.png');
    background-repeat: no-repeat;
    background-position: center;
}

.submit:hover {
    text-decoration: underline;
}