<div class="mx-auto text-white pl-3 pr-3 mt-5 pt-3 rounded" style="width: 500px; height: 500px; background-color: rgba(22, 10, 1, 0.75)">
  <!--TODO: May want to use bootstrap .col instead of static px for column width for responsiveness -->

  <div style="height: 2rem;"></div>
  <div class="container">
    <form class="standalone" id="registerForm" #registerForm="ngForm">
      <div class="row">
        <div class="col-lg-6">

          <label>
            E-mail Address
            <span *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger d-inline-block float-right">
              Please enter a valid e-mail
            </span>
          </label>
          <input [(ngModel)]="u.email" type="email" placeholder="E-mail" class="form-control" name="email" id="email" email #emailInput="ngModel"
            [class.is-invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)" required pattern="^[^@]+@[^@]+\.[^@]+$">

          <label>
            Username
            <span *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="text-danger d-inline-block float-right">
              Please enter a username
            </span>
          </label>
          <input [(ngModel)]="u.username" [class.is-invalid]="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
            placeholder="Username" class="form-control" name="username" id="username" #usernameInput="ngModel" required>

          <label>
            Password
            <span *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger d-inline-block float-right">
              Password must contain 8 characters, letter, number, and special character
            </span>
          </label>
          <!-- may need to further test this regexp for password -->
          <input [(ngModel)]="u.password" #passwordInput="ngModel" type="password" placeholder="Password" class="form-control" name="password"
            id="password" [class.is-invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" required
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$">


          <label>
            First Name
            <span *ngIf="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)" class="text-danger d-inline-block float-right">
              Please enter your first name
            </span>
          </label>
          <input [(ngModel)]="u.firstName" #firstNameInput="ngModel" [class.is-invalid]="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)"
            placeholder="First Name" class="form-control" name="firstName" id="firstName" required pattern="[a-zA-Z]+">

          <label>
            Last Name
            <span *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)" class="text-danger d-inline-block float-right">
              Please enter your last name
            </span>
          </label>
          <input [(ngModel)]="u.lastName" #lastNameInput="ngModel" [class.is-invalid]="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)"
            placeholder="Last Name" class="form-control" name="lastName" id="lastName" required pattern="[a-zA-Z]+">


        </div>
        <div class="col-lg-6">

          <label>
            Address
            <span *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)" class="text-danger d-inline-block float-right">
              Please enter an address
            </span>
          </label>
          <input [(ngModel)]="u.address.address" #addressInput="ngModel" placeholder="Address" class="form-control" name="address"
            id="address" [class.is-invalid]="addressInput.invalid && (addressInput.dirty || addressInput.touched)" required>

          <label>
            Zip Code
            <span *ngIf="zipCodeInput.invalid && (zipCodeInput.dirty || zipCodeInput.touched)" class="text-danger d-inline-block float-right">
              Please enter a valid zip code
            </span>
          </label>
          <input [(ngModel)]="u.address.zip" #zipCodeInput="ngModel" pattern="\d*" class="form-control" name="zipCode" id="zipCode"
            placeholder="Zip Code" maxlength="5" width="5" required pattern="^\d{5}$">

          <label>
            City
            <span *ngIf="cityInput.invalid && (cityInput.dirty || cityInput.touched)" class="text-danger d-inline-block float-right">
              Please enter a city
            </span>
          </label>
          <input [(ngModel)]="u.address.city" #cityInput="ngModel" placeholder="City" class="form-control" name="city" id="city" [class.is-invalid]="cityInput.invalid && (cityInput.dirty || cityInput.touched)"
            required>

          <label>
            State
          </label>
          <select class="custom-select" id="stateSelect">
            <option class="form-control" *ngFor="let state of usStates" [ngValue]="state"> {{ state }} </option>
          </select>

          <label>
            Insurance
          </label>
          <select class="custom-select" id="insuranceSelect">
            <option class="form-control" *ngFor="let insurance of insurances" [ngValue]="insurance.id"> {{ insurance.name }} </option>
          </select>

        </div>
      </div>

      <label *ngIf="!registerForm.valid && submitted" class="text-danger text-center">Please completely fill out the above forms</label>
      <label *ngIf="usernameOrEmailExists" class="text-danger text-center">That username or email already exists</label>
      <input type="submit" id="registerBtn" class="submit btn-primary btn mx-auto d-block mt-5" value="Register">
    </form>
  </div>
</div>