<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-5 pr-5 p-0" routerLink="/home">Home</a>
  <a class="navbar-brand mx-auto h1 mb-0 p-0" routerLink="/home"
    style="font-family: Lucida Handwriting, Times New Roman, serif; text-decoration: underline;">
    Heal Me
  </a>
  <a *ngIf="!userService.user" class="navbar-brand p-0" routerLink="/login">Login</a>
  <a *ngIf="!userService.user" class="navbar-brand p-0" routerLink="/register">Register</a>
  <a *ngIf="userService.user" class="navbar-brand p-0 ml-5 pl-5" style="cursor: pointer;" (click)="logout()">Logout</a>
</nav>

<div class="container text-center">
  Allow us to be your saving grace™
</div>

<div class="container w-75 mx-auto">
  <router-outlet></router-outlet>
</div>