@import '~bootstrap/dist/css/bootstrap.min.css';

.h1 {
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: underline;
}

a:link, a:visited {
    color:white;
}


* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}
