@import '~bootstrap/dist/css/bootstrap.min.css';

.h1 {
    font-size: 24pt;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: underline;
    color:white;
}

a:link, a:visited {
    color:white;
}

.logout {
    text-decoration: underline !important;
    color:white !important;
}

.logout:hover {
    text-decoration: none !important;
    cursor: pointer;
}


* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}
